@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", sans-serif;
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* Optional: customize scroll behavior */
.scroll-smooth {
  scroll-behavior: smooth;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease-in-out;
}

.hot-deal-section {
  display: flex;
  flex-direction: row;
  height: auto;
}

.hot-deal-card-container {
  display: flex;
}

.hot-deal-card {
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
  position: relative;
  transform: scale(1);
  flex-grow: 1;
}

.hot-deal-card:hover {
  transform: scale(1.15);
  transition: transform 0.3s ease-in-out;
  margin-left: 20px; /* added */
  margin-bottom: 10px; /* added */
  padding-bottom: 10px;
  z-index: 10;
}
